name: Deploy to AWS

permissions:
  contents: read

on:
  workflow_run:
    workflows:
      - Unit Tests
    types:
      - completed
    branches:
      - main
  workflow_dispatch:

jobs:
  deploy:
    name: Deploy to AWS
    runs-on: ubuntu-24.04

    environment: production
    concurrency: deployment

    steps:
      - name: Checkout sources
        uses: actions/checkout@v6

      - name: Setup node.js
        uses: actions/setup-node@v6
        with:
          node-version: '24'
          cache: 'npm'

      - name: Install packages
        run: npm install --omit=dev --target_arch=arm64 --target_platform=linux

      - name: Deploy to AWS
        run: npm run deploy
        env:
          ADVENT_OF_CODE_SECRET: ${{ secrets.ADVENT_OF_CODE_SECRET }}
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          TELEGRAM_SECRET: ${{ secrets.TELEGRAM_SECRET }}
          WEBHOOK_SECRET: ${{ secrets.WEBHOOK_SECRET }}
